services:
  - type: web
    name: curiocity
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node server/index.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: OPENAI_API_KEY
        sync: false # set in Render dashboard
