@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;600;700&family=Sofia+Sans+Condensed:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
